force-app/main/default/flows/Meeting_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>Call</name>
        <choiceText>Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeadName</name>
        <choiceText>{!Get_Lead.Name}</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Meeting</name>
        <choiceText>Meeting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Meeting</stringValue>
        </value>
    </choices>
    <choices>
        <name>other</name>
        <choiceText>other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Send_Letter_Quote</name>
        <choiceText>Send Letter/Quote</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send Letter/Quote</stringValue>
        </value>
    </choices>
    <interviewLabel>Meeting Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Meeting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>1069</locationX>
        <locationY>587</locationY>
        <connector>
            <targetReference>Update_Lead_Stage</targetReference>
        </connector>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>Place</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>DateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subjects</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>481</locationX>
        <locationY>109</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Meeting_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Stage</name>
        <label>Update Lead Stage</label>
        <locationX>1355</locationX>
        <locationY>584</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Meeting_details</name>
        <label>Meeting_details</label>
        <locationX>881</locationX>
        <locationY>121</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Place_time</targetReference>
        </connector>
        <fields>
            <name>Subject_stage</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Step 1,Step 2,Step 3</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Who</name>
            <fieldText>&lt;p&gt;{!Get_Lead.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subjects</name>
            <choiceReferences>Call</choiceReferences>
            <choiceReferences>Email</choiceReferences>
            <choiceReferences>Meeting</choiceReferences>
            <choiceReferences>Send_Letter_Quote</choiceReferences>
            <choiceReferences>other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subjects</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Place_time</name>
        <label>Place_time</label>
        <locationX>611</locationX>
        <locationY>288</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
        <fields>
            <name>Place_and_Time_Stage</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Step 1,Step 2,Step 3</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Step 2</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Place</name>
            <dataType>String</dataType>
            <fieldText>Place</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DateTime</name>
            <dataType>DateTime</dataType>
            <fieldText>DateTime</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>830</locationX>
        <locationY>585</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <fields>
            <name>Summary_Stages</name>
            <extensionName>dflowp:DynamicFlowProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <stringValue>Step 1,Step 2,Step 3</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Step 3</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Summary_meeting</name>
            <fieldText>&lt;p&gt;Summary of Metting&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Place_Summary</name>
            <fieldText>&lt;p&gt;{!Place}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_Summary</name>
            <fieldText>&lt;p&gt;{!DateTime}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Place_and_Time</name>
        <isActive>true</isActive>
        <label>Place/Time</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Subject</name>
        <isActive>true</isActive>
        <label>Subject</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Summary_stage</name>
        <isActive>true</isActive>
        <label>Summary</label>
        <stageOrder>3</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>89</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>New_Meeting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
